h1 {
    font-size: 2em;
}
h2 {
    margin: 1rem !important;
    padding-top: 0em;
    padding-bottom: 0em;
    font-size: 1.5em;
    line-height: 1.2rem;
}
h3 {
    margin: 1rem !important;
    padding-top: 0em;
    padding-bottom: 0em;
    font-size: 1.3em;
    line-height: 1.2rem;
}
